<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ExpressJS TypeScript</title>
</head>

<body>
    <%- include('partials/header') %>
    <h1>About Endava</h1>
    <%- include('partials/footer') %>
</body>

</html>